src/main/resources/wsdl/WSADEG1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--File Interfaces/ADEG0_WSADEG1_InlineSchema.xsd, application WSADEG1_ADEG0_CS_WSADEG1, static library WSADEG1_ADEG0_MM_WSADEG1-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:intns="http://intesasanpaolo.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.accenture.com/ADEG0/WSADEG1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd1="http://ws.intesasanpaolo.com/" elementFormDefault="unqualified" targetNamespace="http://www.accenture.com/ADEG0/WSADEG1/">
	<xsd:import namespace="http://ws.intesasanpaolo.com/" schemaLocation="WSADEG1_3.xsd" />
	<xsd:element ibmSchExtn:docRoot="true" name="WSADEG1Response" type="tns:WSADEG1ResponseType" />
	<xsd:element ibmSchExtn:docRoot="true" name="WSADEG1Request" type="tns:WSADEG1RequestType" />
	<xsd:element ibmSchExtn:docRoot="true" name="Fault" type="xsd1:NBP_ErrorInfoType" />
	<xsd:complexType name="HEAD-INFO-TYPE">
		<xsd:sequence>
			<xsd:element name="idChiamata" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WSADEG1ResponseType">
		<xsd:sequence>
			<xsd:element name="RETCODE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REASON" type="tns:REASONType" />
			<xsd:element name="RETADE" type="xsd:string" />
			<xsd:element name="CODADE" type="xsd:string" />
			<xsd:element name="DESC" type="xsd:string" />
			<xsd:element name="DESC-ESTESA" type="tns:DESC-ESTESAType" />
			<xsd:element name="FLG-PTFMOD" type="xsd:string" />
			<xsd:element name="VOL-PTFMOD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLG-PTFREAL" type="xsd:string" />
			<xsd:element name="VOL-PTFREAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLG-PTFVARIA" type="xsd:string" />
			<xsd:element name="VOL-PTFVARIA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RATING-EM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:maxInclusive value="999" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-CONC">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUM-OP-12M">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:maxInclusive value="99999" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOGLIA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:maxInclusive value="99999" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PROF" type="xsd:string" />
			<xsd:element name="FLG-BLOCCO-OPER" type="xsd:string" />
			<xsd:element name="COD-ESITO-OPER" type="xsd:string" />
			<xsd:element name="CODVEND" type="xsd:string" />
			<xsd:element name="COMPLESSITA" type="tns:COMPLESSITAType" />
			<xsd:element name="FILLER-OUT" type="tns:FILLER-OUT-TYPE" />
			<xsd:element name="SOGLIE" type="tns:SOGLIEType" />
			<xsd:element name="IMP-OBI-REALE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IMP-OBI-MODIF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="COD-RISCHIO-CONC" type="xsd:string" />
			<xsd:element name="COD-GRIGLIA" type="xsd:string" />
			<xsd:element name="HP-SOGLIA-INVESTIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HP-IMP-REALE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HP-IMP-MODIF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NO-X-HPER" type="xsd:string" />
			<xsd:element name="TIPO-ERR-HP" type="xsd:string" />
			<xsd:element name="HP-ANAGRAFICO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="4" />
						<xsd:fractionDigits value="2" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HP-PORTAFOGLIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="4" />
						<xsd:fractionDigits value="2" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HP-IMP-PORTAFOGLIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HP-MOVIMENTO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="4" />
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-SOGLIA-CONC">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="6" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IMP-SOGLIA-CONC">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="13" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOGLIA-SPESA-DICH" type="xsd:string" />
			<xsd:element name="SOGLIA-INVLP-DICH" type="xsd:string" />
			<xsd:element name="IMP-LIQUIDITA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ERR-SOTTOSTANTE" type="xsd:string" />
			<xsd:element name="RATING-EM-SOTT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:maxInclusive value="999" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="COD-RIS-CONC-SOTT" type="xsd:string" />
			<xsd:element name="PERC-CONC-SOTT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-SOGL-CONC-SOTT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="6" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IMP-SOGL-CONC-SOTT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="13" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODSTRUM-SOTT" type="xsd:string" />
			<xsd:element name="DESCRIZ-STRUM-SOTT" type="xsd:string" />
			<xsd:element name="COD-GRIGLIA-SOTT" type="xsd:string" />
			<xsd:element name="NO-X-COVA" type="xsd:string" />
			<xsd:element name="NO-X-COMX" type="xsd:string" />
			<xsd:element name="TIPO-ERR-COVA" type="xsd:string" />
			<xsd:element name="TIPO-ERR-COMX" type="xsd:string" />
			<xsd:element name="CATEG-ERR-COVA" type="xsd:string" />
			<xsd:element name="ADEG-COMX-1" type="xsd:string" />
			<xsd:element name="ADEG-COMX-2" type="xsd:string" />
			<xsd:element name="PERC-COVA-EM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COVA-DEV">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COVA-EMDEV">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COVA-EM-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COVA-DEV-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COVA-EMDEV-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTV-COMX-CTVR">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLAG-COMX-CC2" type="xsd:string" />
			<xsd:element name="FLAG-COMX-CC3" type="xsd:string" />
			<xsd:element name="FLAG-COMX-CC4" type="xsd:string" />
			<xsd:element name="CTV-COMX-CC2-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTV-COMX-CC3-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTV-COMX-CC4-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COMX-CC234">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COMX-CC34">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COMX-CC4">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COMX-CC234-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COMX-CC34-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-COMX-CC4-LIM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="7" />
						<xsd:fractionDigits value="4" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ACQUISTO-EM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:maxInclusive value="9" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ACQUISTO-DEV">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:maxInclusive value="9" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FILLER3" type="xsd:string" />
			<xsd:element name="AREA-ESITO-NBP" type="tns:AREA-ESITO-NBPType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FILLER-OUT-TYPE">
		<xsd:sequence>
			<xsd:element name="INFO-OUT-ORARI" type="tns:INFO-OUT-ORARIType" />
			<xsd:element name="VAR-FIELDS" type="tns:VAR-FIELDSType" />
			<xsd:element name="ESPINV" type="xsd:string" />
			<xsd:element name="TIPO-COMPLEX" type="xsd:string" />
			<xsd:element name="CONTAT-NEW-CODER">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:maxInclusive value="999" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLAG-RISCHIO" type="xsd:string" />
			<xsd:element name="FLAG-VENDIBILITA" type="xsd:string" />
			<xsd:element name="FLAG-COMPLESSITA" type="xsd:string" />
			<xsd:element name="FLEX-PRI-STRU" type="xsd:string" />
			<xsd:element name="NO-X-CONC" type="xsd:string" />
			<xsd:element name="NO-X-FREQ" type="xsd:string" />
			<xsd:element name="FILLER-FL-LQ" type="tns:LIQU-FLEXType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WSADEG1RequestType">
		<xsd:sequence>
			<xsd:element name="HEAD-INFO" type="tns:HEAD-INFO-TYPE" />
			<xsd:element name="CIST" type="xsd:string" />
			<xsd:element name="CHIAMATA" type="xsd:string" />
			<xsd:element name="CALLPROC" type="xsd:string" />
			<xsd:element name="COD-NSG" type="xsd:unsignedLong" />
			<xsd:element name="COD-MANDATO" type="xsd:string" />
			<xsd:element name="CODRAPP" type="xsd:string" />
			<xsd:element name="CODRAPP-HEAD" type="tns:CodRapp-Type" />
			<xsd:element name="CANALE" type="xsd:string" />
			<xsd:element name="FREQUENZA" type="xsd:int" />
			<xsd:element name="NUM-OPE" type="xsd:int" />
			<xsd:element maxOccurs="1" minOccurs="1" name="TAB" type="tns:Tab-Type" />
			<xsd:element name="COMODO" type="tns:Comodo-Type" />
			<xsd:element name="NUM-PROPOSTA-ABC-X" type="tns:NUM-PROPOSTA-ABC-X-Type" />
			<xsd:element name="FUORI-SEDE" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodRapp-Type">
		<xsd:sequence>
			<xsd:element name="CODRAPP-FIL" type="xsd:string" />
			<xsd:element name="CODRAPP-CAT" type="xsd:string" />
			<xsd:element name="CODRAPP-RAP" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodStrum-Type">
		<xsd:sequence>
			<xsd:element name="CODSTRUM-AF" type="xsd:int" />
			<xsd:element name="CODSTRUM-FILL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="11" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodTipSstrum-Type">
		<xsd:sequence>
			<xsd:element name="COD-ENTITA" type="xsd:int" />
			<xsd:element name="COD-GRUPPO" type="xsd:int" />
			<xsd:element name="COD-SGRUPPO" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CTV-Type">
		<xsd:sequence>
			<xsd:element name="CTV-SEG">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTV-IMP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CTV-RIS-PAC-Type">
		<xsd:sequence>
			<xsd:element name="SEG-RIS-PAC">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IMP-RIS-PAC">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CODSTRUM-S-Type">
		<xsd:sequence>
			<xsd:element name="CODSTRUM-S-AF" type="xsd:integer" />
			<xsd:element name="CODSTRUM-S-FILL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CTIPSTRUM-S-Type">
		<xsd:sequence>
			<xsd:element name="COD-ENTITA-S" type="xsd:integer" />
			<xsd:element name="COD-GRUPPO-S" type="xsd:integer" />
			<xsd:element name="COD-SGRUPPO-S" type="xsd:integer" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FILLER-INP-Type">
		<xsd:sequence>
			<xsd:element name="FILL1" type="xsd:string" />
			<xsd:element name="REQ-DUMP" type="xsd:string" />
			<xsd:element name="DEBUG" type="xsd:string" />
			<xsd:element name="NO-DEBUG" type="xsd:string" />
			<xsd:element name="FILL2" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NUM-PROPOSTA-ABC-X-Type">
		<xsd:sequence>
			<xsd:element name="NUM-PROPOSTA-ABC-S" type="xsd:string" />
			<xsd:element name="NUM-PROPOSTA-ABC-N" type="xsd:unsignedLong" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Tab-Type">
		<xsd:sequence maxOccurs="1" minOccurs="1">
			<xsd:element maxOccurs="1000" minOccurs="1" name="TAB_OPE" type="tns:TabOpe-Type" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TabOpe-Type">
		<xsd:sequence>
			<xsd:element name="CODSTRUM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODSTRUM-RED" type="tns:CodStrum-Type" />
			<xsd:element name="CTIPSTRUM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTIPSTRUM-AF" type="tns:CodTipSstrum-Type" />
			<xsd:element name="FLG-TIPO-INPUT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PRZ">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QTA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FILL1" type="tns:Fill1-Type" />
			<xsd:element name="DVS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SEGNO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CHIAVEOPER">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HP-FLAG">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HOLDING-PERIOD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="4" />
						<xsd:fractionDigits value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OPE_PAC" type="tns:OpePac-Type" />
			<xsd:element name="CODSTRUM-S">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CODSTRUM-S-AF" type="tns:CODSTRUM-S-Type" />
			<xsd:element name="CTIPSTRUM-S">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTIPSTRUM-S-AF" type="tns:CTIPSTRUM-S-Type" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fill1-Type">
		<xsd:sequence>
			<xsd:element name="CTV" type="tns:CTV-Type" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Comodo-Type">
		<xsd:sequence>
			<xsd:element name="FILL1" type="xsd:string" />
			<xsd:element name="REQ_DUMP" type="xsd:string" />
			<xsd:element name="NSG-ORDINANTE" type="xsd:integer" />
			<xsd:element name="FILL2" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OpePac-Type">
		<xsd:sequence>
			<xsd:element name="IND-OPER">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CTV-RIS-RED" type="tns:CTV-RIS-PAC-Type" />
			<xsd:element name="PAC-FIL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="REASONType">
		<xsd:sequence>
			<xsd:element name="TIP_ERR" type="xsd:string" />
			<xsd:element name="REASON-CODE" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DESC-ESTESAType">
		<xsd:sequence>
			<xsd:element name="DESC-ESTESA-L">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:maxInclusive value="9999" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESC-ESTESA-T" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COMPLESSITAType">
		<xsd:sequence>
			<xsd:element name="COMPLEX-SOGLIA-20">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5" />
						<xsd:fractionDigits value="2" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="COMPLEX-PERC-20">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5" />
						<xsd:fractionDigits value="2" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="COMPLEX-SOGLIA-40">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5" />
						<xsd:fractionDigits value="2" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="COMPLEX-PERC-40">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="5" />
						<xsd:fractionDigits value="2" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LIQU-FLEXType">
		<xsd:sequence>
			<xsd:element name="NO-X-FLEX">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOGLIA-NON-FLEX">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="6" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PERC-NON-FLEX">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="6" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NO-X-LIQU" type="xsd:string" />
			<xsd:element name="FILLER2" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SOGLIEType">
		<xsd:sequence>
			<xsd:element name="RISERVA-REALE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RISERVA-MODIF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOGLIA-RISERVA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SOGLIA-SPESA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18" />
						<xsd:fractionDigits value="3" />
						<xsd:minInclusive value="0" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INFO-OUT-ORARIType">
		<xsd:sequence>
			<xsd:element name="MSEC-INI">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="19" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MSEC-INI-F" type="xsd:string" />
			<xsd:element name="MSEC-END">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="19" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VAR-FIELDSType">
		<xsd:sequence>
			<xsd:element name="LABEL-VOL-REA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-REA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-REA-SIS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-REA-SIS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-REA-IBF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-REA-IBF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-REA-IBO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-REA-IBO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-REA-IBD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-REA-IBD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-REA-OPZ">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-REA-OPZ">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-OPE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-OPE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-OPE-SIS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-OPE-SIS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-OPE-IBF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-OPE-IBF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-OPE-IBO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-OPE-IBO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-OPE-IBD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-OPE-IBD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-OPE-OPZ">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-OPE-OPZ">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-VOL-MOD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-VOL-MOD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-CTV-PTF-REA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-CTV-PTF-REA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="LABEL-CTV-PTF-MOD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALUE-CTV-PTF-MOD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AREA-ESITO-NBPType">
		<xsd:sequence>
			<xsd:element name="ESITO-NBP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ERR-DESC">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="132" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>